
  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    z-index: 200;
  }
  .textFields {
    font-family: 'Gothic A1', sans-serif;
    position: relative;
      top: 5vh;
      left: 10vw;
    background-color: rgba(0,0,0,0.7);
  }

  .labelPanel {
    font-size: 0.9em;
    line-height: 2em;
    padding-left: 1vw;
    font-weight: lighter;
    letter-spacing: 0em;
    position: relative;
    left: 0vw;
    color : rgba(234,234,234,1);
  }

  .slider {
	overflow-y: hidden;
	transform: translateY(0%);
  opacity: 1;
	transition-property: all;
	transition-duration: .4s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

  .closed {
    transform: translateY(-100%);
    max-height: 0px;
  }

  #routeInfo {
    position: relative;
    background-color: transparent;
    color: rgba(255,255,255,1)
  }

  #detailsCard {
    padding: 0.6vh;
    font-size: 0.9em;
    margin: 0 0.5vw;
    text-align: left;
    color: rgba(255,255,255,0.7);
  }

  #distance {
    position: absolute;
    right: 1.5vw;
    text-align: right;
    color: rgba(25,180,100,0.9);
  }

  .leaflet-div-icon {
    border-radius: 12px;
    width: 8px!important;
    height: 8px!important;
    border: 1px solid rgba(0,0,0,0.5);
  }

  @media only screen and (max-width: 600px)
  {
    #mapid {
      top: -25.5vh!important;
      left: -2.5vw!important;
    }
    .textFields {
      width: 80vw;
      left: 12vw;
    }
    .labelPanel {
      left: 1vw;
    }
    #detailsCard {
      margin: 0 2vw;
    }
  }
  @media only screen and (max-height: 400px)
  {
    #mapid {
      top: -52vh!important;
      left: -2.5vw!important;
    }
  }
  input {
    background-color: rgba(255,255,255,1);
    font-size: 1em;
    padding: 5px;
  }
  input[type=text] {
    font-family: 'Gothic A1', sans-serif;
    width: 100%;
    border: 0;
    padding: 10px;
    border-radius: 2px 2px 0 0;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    border-bottom: 2px solid rgba(0,0,0,0.2);
  }
  ::placeholder {
    opacity: 0.5;
  }

  input[type=text]:focus {
    outline: 0;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    font-family: 'Gothic A1', sans-serif;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    font-family: 'Gothic A1', sans-serif;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
